In [1]:
import pandas as pd

### Read in Original Dataset
Source: https://www.kaggle.com/residentmario/iowa-liquor-sales?select=Iowa_Liquor_Sales.csv

In [2]:
data=pd.read_csv('Iowa_Liquor_Sales.csv')

C:\Users\josep\anaconda3\envs\ace592\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

### Original dataset has over 1.2 million readings. We cut down the size of the original dataset by refining our timeframe and removing undesired columns of data

In [4]:
len(data)

12591077

### Convert date to "datetime" type and sort original dataset by date

In [5]:
data = data.sort_values(by="Date")

In [6]:
data['Date'] = pd.to_datetime(data['Date'])

### Remove all data before January 1, 2014

In [7]:
cleaned_data = data[~(data['Date'] < '2014-01-01')]

In [8]:
cleaned_data.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
3135633,S16624500011,2014-01-02,2622,Hy-Vee Food Store / Iowa City,1125 N DODGE ST,IOWA CITY,52240,"1125 N DODGE ST\nIOWA CITY 52240\n(41.676203, ...",52.0,Johnson,...,9426,Passport Scotch,12,750,$7.00,$10.49,3,$31.47,2.25,0.59
4582481,S16630400014,2014-01-02,3756,Main Street Liquors / Manning,316 MAIN ST,MANNING,51455,"316 MAIN ST\nMANNING 51455\n(41.908573, -95.06...",14.0,Carroll,...,89196,Jose Cuervo Especial Reposado Tequila,12,750,$10.49,$15.73,2,$31.46,1.50,0.40
7308411,S16627100036,2014-01-02,2510,Hy-Vee Drugstore #3 / Cedar Rapids,2405 MT VERNON RD SE,CEDAR RAPIDS,52403,2405 MT VERNON RD SE\nCEDAR RAPIDS 52403\n(41....,57.0,Linn,...,73051,Rumchata Mini,12,500,$8.87,$13.31,4,$53.24,2.00,0.53
3367681,S16640900037,2014-01-02,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14TH ST,DES MOINES,50320,"3221 SE 14TH ST\nDES MOINES 50320\n(41.554101,...",77.0,Polk,...,21597,Ten High,12,1000,$4.94,$7.41,108,$800.28,108.00,28.53
3056003,S16626900015,2014-01-02,4139,University Groceries,2121 UNIVERSITY AVE,DES MOINES,50314,2121 UNIVERSITY AVE\nDES MOINES 50314\n,77.0,Polk,...,34006,Absolut Swedish Vodka 80 Prf,12,750,$11.49,$17.24,12,$206.88,9.00,2.38

### Remove all undesired columns

In [9]:
cleaned_data = cleaned_data.drop(columns=['Invoice/Item Number', 'Store Number', 'Store Name', 'Address', 'City', 
                                          'Store Location', 'Category', 'Category Name', 'Vendor Number', 'Vendor Name', 
                                         'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost', 
                                         'State Bottle Retail', 'Bottles Sold'])

In [10]:
cleaned_data.head()

,Date,Zip Code,County Number,County,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
3135633,2014-01-02,52240,52.0,Johnson,$31.47,2.25,0.59
4582481,2014-01-02,51455,14.0,Carroll,$31.46,1.50,0.40
7308411,2014-01-02,52403,57.0,Linn,$53.24,2.00,0.53
3367681,2014-01-02,50320,77.0,Polk,$800.28,108.00,28.53
3056003,2014-01-02,50314,77.0,Polk,$206.88,9.00,2.38

### We want to aggregate on both the Sales and Volume columns. First, strip the dollar sign off the "Sale (Dollars)" column so we can convert the column values from string to float type

In [11]:
sales = [x.strip('$') for x in cleaned_data['Sale (Dollars)']]

In [12]:
cleaned_data['Sales (Dollars)'] = sales

In [13]:
cleaned_data = cleaned_data.drop(columns=['Sale (Dollars)'])

In [14]:
cleaned_data['Sales (Dollars)'] = cleaned_data['Sales (Dollars)'].astype('float')

### Aggregate total alcohol sales by date by county

In [15]:
daily_county_sales = cleaned_data.groupby(['Date','County'])['Sales (Dollars)'].sum()
daily_county_sales

Date        County
2014-01-02  Allamakee        505.78
            Black Hawk    106479.37
            Boone           4136.59
            Carroll        29607.56
            Cedar           4186.41
                            ...
2017-10-31  SAC             9744.54
            SIOUX          20031.95
            WARREN         20881.10
            WEBSTER          989.62
            WOODBURY        1054.48
Name: Sales (Dollars), Length: 32634, dtype: float64

### Aggregate total alcohol volume sold by date by county

In [16]:
daily_county_volume_l = cleaned_data.groupby(['Date','County'])['Volume Sold (Liters)'].sum()
daily_county_volume_l

Date        County
2014-01-02  Allamakee       38.75
            Black Hawk    7525.11
            Boone          344.75
            Carroll       2047.84
            Cedar          289.57
                           ...
2017-10-31  SAC            306.54
            SIOUX          501.20
            WARREN         414.57
            WEBSTER         55.50
            WOODBURY        10.63
Name: Volume Sold (Liters), Length: 32634, dtype: float64

### Aggregate total alcohol sales by month by county

In [18]:
monthly_county_sales = (cleaned_data.groupby([pd.Grouper(key='Date', freq='MS'), 'County'])['Sales (Dollars)'].sum())
monthly_county_sales

Date        County
2014-01-01  Adair         29286.20
            Adams          6631.54
            Allamakee     47324.47
            Appanoose     71855.44
            Audubon       11627.08
                           ...
2017-10-01  WOODBURY     533066.44
            WORTH         19501.38
            WRIGHT        43305.26
            Wapello       50389.41
            Webster       18572.57
Name: Sales (Dollars), Length: 5054, dtype: float64

### Aggregate total alcohol volume sold by month by county

In [19]:
monthly_county_volume_l = (cleaned_data.groupby([pd.Grouper(key='Date', freq='MS'), 'County'])['Volume Sold (Liters)'].sum())
monthly_county_volume_l

Date        County
2014-01-01  Adair         2401.90
            Adams          498.91
            Allamakee     3923.81
            Appanoose     6082.76
            Audubon       1018.00
                           ...
2017-10-01  WOODBURY     10634.18
            WORTH          589.33
            WRIGHT        1167.53
            Wapello       1216.17
            Webster        346.27
Name: Volume Sold (Liters), Length: 5054, dtype: float64